/* CSS declarations go here */

#mapDiv {
    width: 800px;
    height: 600px;
    background-color: transparent;
}

#mapDiv img {
    max-width: none;
    background-color: transparent;
}

.button {
	border-radius 5px;
	border 2px solid #bcd2ee;
	background-color: orange;
	height: 20 px;
	width: 60 px;
	text-align: center;
}