/* CSS declarations go here */

html, body {
    width: 100%;
    height: 100%;

}

#mapDiv {
    width: 100%;
    height: 50%;
    background-color: transparent;
}

#mapDiv img {
    max-width: none;
    background-color: transparent;
}
